<!DOCTYPE html>
<html>
<head>
	<title>[TITLE]</title>
	<meta charset="UTF-8">
	<script type="text/javascript" src="http://use.typekit.net/kty0evk.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<link rel="stylesheet" href="lib/html/minimal/style.css" />
	[EXTRACSS]
	<script type="text/javascript" src="lib/html/minimal/main.js"></script>
	<script type="text/javascript" src="lib/html/minimal/apps.js"></script>
	<script type="text/javascript">
		window.addEventListener ("load", aResize);
		window.addEventListener ("resize", aResize);
	</script>
	[EXTRAJS]
</head>
<body>
<div class="header" id="header">
	<div class="topmenu" id="topmenu">
		[TOPMENU]
	</div>
	<div class="menu-separator" id="topmenu-separator">
	</div>
</div>
<div class="spacer">&nbsp;</div>
<div class="body" id="body">
[CONTENT]
</div>
<div class="spacer">&nbsp;</div>
<div class="footer" id="footer">
	<div class="footmenu" id="footmenu">
		[FOOTMENU]
	</div>
</div>
</body>
</html>
