<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript">
  (function(d) {
    var config = {
      kitId: 'kty0evk',
      scriptTimeout: 3000
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
	</script>
	<title>[TITLE]</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="lib/html/style.css" />
	<script type="text/javascript" src="main.js"></script>
</head>
<body>
<div class="center content">
[CONTENT]
</div>
<div class="footer" id="footer">
<span class="quote" id="quote">Liberty is not a means to a higher political end. It is itself the highest political end.</span>
<br/>&copy;2013, 2014 &mdash; Pieter De Praetere &mdash; GPL v.3
</div>
</body>
</html>