<!DOCTYPE html>
<html>
<head>
	<title>[TITLE]</title>
	<meta charset="UTF-8">
	<script type="text/javascript" src="//use.typekit.net/kty0evk.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<link rel="stylesheet" href="minimal/style.css" />
	<script type="text/javascript" src="minimal/main.js"></script>
	<script type="text/javascript">
		window.addEventListener ("load", cResize);
		window.addEventListener ("resize", cResize);
	</script>
</head>
<body>
<div class="container">
<div class="header" id="header">
	<div class="menu" id="main_menu">
	[MENU]
	</div>
</div>
<div class="content" id="content">
[CONTENT]
</div>
<div class="footer" id="footer">
	<div class="footer_menu" id="footer_menu">
	[FOOTER]
	</div>
</div>
</div>
</body>
</html>